body, html {
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
}

span {
    font-style: italic;
}


#map {
    height: 100%;
    width: 100%;
}

.containers>div, #stats{
    background:white;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    padding: 10px;
}


.containers{
    position:absolute;
    top: 15px;
    left: 60px;
    width:260px;
}

.containers>div{
    margin-bottom:10px;
}

#measure{
    height:165px;
}



#heatmapPanel {
    top:295px;
}

div#stats {
    /* top: 441px; */
    position:absolute;
    bottom: 0px;
    height: 117px;
    top: initial;
    left: 0px;
    right: 0px;
    width: 100%;
}

table#statsTable {
    text-align: right;
    cell-spacing: 13px;
}

th {
    text-align: center;
}

td {
    /* margin: 0px 10px; */
}

td {
    padding: 0px 20px;
}

#statsTable tr:nth-child(2n) {
    background: #efefef;
}

div#calibrationresult {
    overflow-y: scroll;
    max-height: 300px;
}

div#calibrationresult   td {
    padding: 4px;
}

#calibrationresult tr:nth-child(2n) {
    background: #ececec;
}